@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Raleway&display=swap');

:root{
    --heading-font: "Bree Serif", serif;
    --paragraph-font: "Raleway", sans-serif;

    --dark-color:#000000;
    --light-color: #FFFFFF;

    --accent-color: #4D878F;
    --secondary-accent-color: #401F3E;

}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0px auto;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto;
    background-color: var(--dark-color);
    border: 4px solid var(--accent-color);
}

main{
    background-color: var(--light-color);
    padding: 1rem;
}

/* Top Header with Logo and Account Tools */
#top-header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    background-color: var(--light-color);
    align-items: center;
    padding: 0.5rem;
}

#tools{
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    padding-right: .8rem;
}

.logo{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
}

.logo a img{
    height: 50px;
    width: auto;
}

#tools a{
    text-decoration: none;
    color: var(--dark-color);
}

nav{
    grid-column: 1 / -1;
    grid-row: 2;
    width: 100%;
    background-color: var(--accent-color);
    color: var(--dark-color);
}
  
.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li{
    flex: 1 1 auto;
}

.navigation a{
    display: block;
    color:var(--dark-color);
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}

.navigation a:link, 
.navigation a:visited {
    color:var(--dark-color);
}

.navigation a.active{
    font-weight: bold;
    text-decoration: underline;
}

.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--light-contrast);
}

.wrap{
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
}

h1{
    text-align: center;
    color: var(--accent-color);
}

h2{
    color: var(--headings-color);
    padding: .5rem 0;
}

h3{
    color: var(--headings-color);
    padding: .5rem 0;

}

header{
    background-color: var(--nav-background);
    color: var(--nav-links);
    padding: 1rem;
}

li{
    list-style-position: inside;
}

footer{
    text-align: center;
    background: var(--accent-color);
    color: var(--dark-color);
    padding: 1rem;
    font-weight: bold;
}

.img-container{
    width:100%;
    height: auto;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (min-width: 37.5rem){
    .img-container{
        display: flex;
    }

    img{
        width: auto;
        display:block;
    }
}