
body{
    display: grid;
    grid-template: auto 1fr auto / 2fr 1fr;

    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}

header{
    background: #1199ab;
    grid-column: 1/4;
    color:white;
    text-align: center;
}

main{
    background: darkgray;
    grid-column: 1/2;
    padding: .5rem;
}

aside{
    grid-column: 2/3;
    padding: .5rem;
}

footer{
    background: #1199ab;
    padding: .5rem;
    text-align: center;
    grid-column: 1/4;
    color:white;
}

.navigation{
    list-style: none;
    display: flex;
    background-color:black;
    align-items: center;
}

.navigation li{
    flex: 1 1 auto;
}

.navigation a{
    display:block;
    color:white;
    padding: 0.75rem;
    text-decoration: none;
}

.navigation a:hover{
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #1199ab;
}

.wrap{
    flex-wrap: wrap;
}
