
body{
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 2fr 1fr;

    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}

header{
    background:darkgray;
    padding: 2rem;
    grid-column: 1/4;
    color:antiquewhite;
}

main{
    background: gray;
    grid-column: 1/2;
}

aside{
    grid-column: 2/3;
}

footer{
    background: black;
    padding: 2rem;
    text-align: center;
    grid-column: 1/4;
}

nav{
    margin: 0 auto 2rem;
    max-width: 90vw;
}

.navigation{
    list-style: none;
    display: flex;
    background-color:black;
    align-items: center;
}

.navigation li{
    flex: 1 1 auto;
}

.navigation a{
    display:block;
    color:antiquewhite;
    padding: 0.75rem;
    text-decoration: none;
}

.navigation a:hover{
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: yellow;
}

.wrap{
    flex-wrap: wrap;
}
