@media (min-width: 724px){
    h2{
        font-size: 1rem;
        text-align: left;
        background-color: var(--light-color);
        color: var(--accent-color);
        margin-right: 2rem;
    }

    #weather-title{
        display:flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--light-color);
        color: var(--accent-color);
        margin-right: 1rem
    }

    table{
        font-size: .7rem;
    }

    .hero{
        position:relative;
    }

    .hero img{
        height: auto;
        width: 100%;
    }

    section{
        background-color: rgba(0,0,0,0.8);
        position:absolute;
        color: var(--light-color);
    }

    #data-section{
        bottom: 2%;
        left: 2%;
    }

    #weather-section{
        top: 2%;
        right: 2%;
    }

    
    #weather-icon{
        display:none;
    }

    #weather-title::after{
        content: "⛅";
    }

}